maad_n8n_workflow_v2.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "8c2f6e0d-4k9l-8m2n-0p9q-8r7s6t5u4v3w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "maad-pipeline-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/pipeline/init",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"task\": \"{{ $json.task }}\",\n  \"scope\": \"{{ $json.scope }}\"\n}"
      },
      "id": "9d3g7f1h-5l2k-9m3n-1o8p-9q8r7s6t5u4v",
      "name": "Init Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/planner",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $json.task }}\",\n  \"scope\": \"{{ $json.scope }}\"\n}"
      },
      "id": "1e4h8g2i-6m3l-0n4o-2p9q-0r9s8t7u6v5w",
      "name": "Run Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300],
      "retryNumber": 3,
      "retryFixedInterval": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/architect",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\"\n}"
      },
      "id": "2f5i9h3j-7n4m-1o5p-3q0r-1s0t9u8v7w6x",
      "name": "Run Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300],
      "retryNumber": 3,
      "retryFixedInterval": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/developer",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\",\n  \"architecture\": \"{{ $json.output }}\"\n}"
      },
      "id": "3g6j0i4k-8o5n-2p6q-4r1s-2t1u0v9w8x7y",
      "name": "Run Developer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "retryNumber": 3,
      "retryFixedInterval": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/debugger",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\",\n  \"architecture\": \"{{ $node['Run Architect'].json.output }}\",\n  \"files\": \"{{ $json.output }}\"\n}"
      },
      "id": "4h7k1j5l-9p6o-3q7r-5s2t-3u2v1w0x9y8z",
      "name": "Run Debugger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 300],
      "retryNumber": 2,
      "retryFixedInterval": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/tester",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\",\n  \"architecture\": \"{{ $node['Run Architect'].json.output }}\",\n  \"files\": \"{{ $node['Run Developer'].json.output }}\",\n  \"debug_report\": \"{{ $json.output }}\"\n}"
      },
      "id": "5i8l2k6m-0q7p-4r8s-6t3u-4v3w2x1y0z1a",
      "name": "Run Tester",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1750, 300],
      "retryNumber": 2,
      "retryFixedInterval": 5000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/session/{{ $json.session_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {}
      },
      "id": "6j9m3l7n-1r8q-5s9t-7u4v-5w4x3y2z1a2b",
      "name": "Get Final Session State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "session_summary",
        "value": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $json.task }}\",\n  \"scope\": \"{{ $json.scope }}\",\n  \"status\": \"completed\",\n  \"agents_executed\": [\"planner\", \"architect\", \"developer\", \"debugger\", \"tester\"],\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"has_files\": \"{{ $json.files !== null }}\",\n  \"has_test_cases\": \"{{ $json.test_cases !== null }}\"\n}"
      },
      "id": "7k0n4m8o-2s9r-6t0u-8v5w-6x5y4z3a1b2c",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2250, 300]
    },
    {
      "parameters": {},
      "id": "8l1o5n9p-3t0s-7u1v-9w6x-7y6z5a4b2c3d",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2500, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Init Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pipeline": {
      "main": [
        [
          {
            "node": "Run Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Planner": {
      "main": [
        [
          {
            "node": "Run Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Architect": {
      "main": [
        [
          {
            "node": "Run Developer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Developer": {
      "main": [
        [
          {
            "node": "Run Debugger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Debugger": {
      "main": [
        [
          {
            "node": "Run Tester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Tester": {
      "main": [
        [
          {
            "node": "Get Final Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Session State": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "maad-pipeline-workflow",
  "name": "MAAD Multi-Agent Pipeline (N8N v2)",
  "nodes": [
    {
      "parameters": {},
      "id": "8c2f6e0d-4k9l-8m2n-0p9q-8r7s6t5u4v3w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "maad-pipeline-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/pipeline/init",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"task\": \"{{ $json.task }}\",\n  \"scope\": \"{{ $json.scope }}\"\n}"
      },
      "id": "9d3g7f1h-5l2k-9m3n-1o8p-9q8r7s6t5u4v",
      "name": "Init Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/planner",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $json.task }}\",\n  \"scope\": \"{{ $json.scope }}\"\n}"
      },
      "id": "1e4h8g2i-6m3l-0n4o-2p9q-0r9s8t7u6v5w",
      "name": "Run Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/architect",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\"\n}"
      },
      "id": "2f5i9h3j-7n4m-1o5p-3q0r-1s0t9u8v7w6x",
      "name": "Run Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/developer",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\",\n  \"architecture\": \"{{ $json.output }}\"\n}"
      },
      "id": "3g6j0i4k-8o5n-2p6q-4r1s-2t1u0v9w8x7y",
      "name": "Run Developer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/debugger",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\",\n  \"architecture\": \"{{ $node['Run Architect'].json.output }}\",\n  \"files\": \"{{ $json.output }}\"\n}"
      },
      "id": "4h7k1j5l-9p6o-3q7r-5s2t-3u2v1w0x9y8z",
      "name": "Run Debugger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agent/tester",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {},
        "bodyParametersJson": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $input.first().json.task }}\",\n  \"scope\": \"{{ $input.first().json.scope }}\",\n  \"plan\": \"{{ $node['Run Planner'].json.output }}\",\n  \"architecture\": \"{{ $node['Run Architect'].json.output }}\",\n  \"files\": \"{{ $node['Run Developer'].json.output }}\",\n  \"debug_report\": \"{{ $json.output }}\"\n}"
      },
      "id": "5i8l2k6m-0q7p-4r8s-6t3u-4v3w2x1y0z1a",
      "name": "Run Tester",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/session/{{ $json.session_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {},
        "queryParameters": {}
      },
      "id": "6j9m3l7n-1r8q-5s9t-7u4v-5w4x3y2z1a2b",
      "name": "Get Final Session State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "session_summary",
        "value": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"task\": \"{{ $json.task }}\",\n  \"scope\": \"{{ $json.scope }}\",\n  \"status\": \"completed\",\n  \"agents_executed\": [\"planner\", \"architect\", \"developer\", \"debugger\", \"tester\"],\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"has_files\": \"{{ $json.files !== null }}\",\n  \"has_test_cases\": \"{{ $json.test_cases !== null }}\"\n}"
      },
      "id": "7k0n4m8o-2s9r-6t0u-8v5w-6x5y4z3a1b2c",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2250, 300]
    },
    {
      "parameters": {},
      "id": "8l1o5n9p-3t0s-7u1v-9w6x-7y6z5a4b2c3d",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2500, 300]
    }
  ]
}
